In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('DataPreprocessing.csv')
df

,Id,MSSubClass,LotFrontage,LotArea,LotConfig,Neighborhood,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,RoofStyle,TotalBsmtSF,GrLivArea,BedroomAbvGr,TotRmsAbvGrd,GarageArea
0,1461,20.0,80,11622,Inside,NAmes,1Fam,1Story,5,6,1961,Gable,882.0,896,2,5,730.0
1,1462,20.0,##,14267,Corner,NAmes,1Fam,1Story,6,6,1958,Hip,1329.0,1329,3,6,312.0
2,1463,60.0,74,13830,Inside,Gilbert,1Fam,2Story,NaN,5,1997,Gable,928.0,1629,3,6,482.0
3,1464,60.0,78,9978,Inside,Gilbert,Na,?,6,6,1998,#,926.0,1604,3,7,470.0
4,1465,120.0,43,5005,Inside,StoneBr,TwnhsE,1Story,8,Nan,1992,Gable,1280.0,1280,2,5,506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160.0,21,1936,Inside,MeadowV,Twnhs,2Story,4,7,1970,Gable,546.0,1092,3,5,0.0
1455,2916,160.0,21,1894,Inside,MeadowV,TwnhsE,2Story,4,5,1970,Gable,546.0,1092,3,6,286.0
1456,2917,20.0,160,20000,Inside,Mitchel,1Fam,1Story,5,7,1960,Gable,1224.0,1224,4,7,576.0
1457,2918,85.0,62,10441,Inside,Mitchel,1Fam,SFoyer,5,5,1992,Gable,912.0,970,3,6,0.0
1458,2919,60.0,74,9627,Inside,Mitchel,1Fam,2Story,7,5,1993,Gable,996.0,2000,3,9,650.0

In [ ]:
mean = np.round(df['MSSubClass'].mean())
mean

58.0

In [ ]:
std = df['MSSubClass'].std()
std

47.185135967650226

In [ ]:
df['MSSubClass'] = df['MSSubClass'].apply(lambda x: ((x-mean)/std))
df['MSSubClass'].describe()

count    1456.000000
mean        0.000975
std         1.000000
min        -0.805338
25%        -0.805338
50%        -0.169545
75%         0.254317
max        11.910530
Name: MSSubClass, dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
df['LotArea']=scaler.fit_transform(df[['LotArea']])
df['LotArea']

0       0.363929
1       0.897861
2       0.809646
3       0.032064
4      -0.971808
          ...
1454   -1.591330
1455   -1.599808
1456    2.055150
1457    0.125527
1458   -0.038790
Name: LotArea, Length: 1459, dtype: float64

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
max_abs=MaxAbsScaler()

In [ ]:
df['TotalBsmtSF']=max_abs.fit_transform(df[['TotalBsmtSF']])
df['TotalBsmtSF']

0       0.173111
1       0.260844
2       0.182139
3       0.181747
4       0.251227
          ...
1454    0.107164
1455    0.107164
1456    0.240236
1457    0.178999
1458    0.195486
Name: TotalBsmtSF, Length: 1459, dtype: float64

In [ ]:
a=df['TotalBsmtSF'].max()
df['TotalBsmtSF']=df['TotalBsmtSF'].apply(lambda x:((x)/abs(a)))
df['TotalBsmtSF'].describe()

count    1458.000000
mean        0.205322
std         0.086928
min         0.000000
25%         0.153876
50%         0.193916
75%         0.256133
max         1.000000
Name: TotalBsmtSF, dtype: float64

In [ ]:
a=df['GrLivArea'].max()
b=df['GrLivArea'].min()
df['GrLivArea']=df['GrLivArea'].apply(lambda x:((x-b)/(a-b)))
df['GrLivArea'].describe()

count    1459.000000
mean        0.230172
std         0.103576
min         0.000000
25%         0.151557
50%         0.218643
75%         0.280290
max         1.000000
Name: GrLivArea, dtype: float64

**EXPERIMENT-4(B)**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.datasets import load_breast_cancer

In [ ]:
cancer = load_breast_cancer()

In [ ]:
df = pd.DataFrame(cancer['data'],columns = cancer['feature_names'])
df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scalar = StandardScaler()

In [ ]:
scaled_data = scalar.fit_transform(df)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
x_pca = pca.fit_transform(scaled_data)
x_pca.shape

(569, 2)

In [ ]:
x_pca

array([[ 9.19283683,  1.94858307],
       [ 2.3878018 , -3.76817174],
       [ 5.73389628, -1.0751738 ],
       ...,
       [ 1.25617928, -1.90229671],
       [10.37479406,  1.67201011],
       [-5.4752433 , -0.67063679]])

In [ ]:
df=pd.DataFrame(x_pca)
df

             0          1
0     9.192837   1.948583
1     2.387802  -3.768172
2     5.733896  -1.075174
3     7.122953  10.275589
4     3.935302  -1.948072
..         ...        ...
564   6.439315  -3.576817
565   3.793382  -3.584048
566   1.256179  -1.902297
567  10.374794   1.672010
568  -5.475243  -0.670637

[569 rows x 2 columns]